<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script type="text/javascript" src="/static/js/checkout.js" defer></script>
</head>
<body>
<div class="jumbotron text-center header">
    <h1>DaniExpress</h1>
</div>
<div class="cart">
    <h1>Shipping Infos</h1>
    <a class="btn btn-success cartback" href="/cart">Cart</a>
</div>
<div class="card">
    <form action="/checkout" method="post">
        <div id="personalData">
            <label for="firstName">First name:</label>
            <input type="text" name="firstName" id="firstName" autocomplete="off" required>
            <label for="lastName">Last name:</label>
            <input type="text" name="lastName" id="lastName" autocomplete="off" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" autocomplete="off" required pattern="\S+"/>
            <label for="phonenum">Phone number</label>
            <input type="text" name="phonenum" id="phonenum" autocomplete="off" required>
        </div>
        <div id="shippingData">
            <h3>Shipping</h3>
            <label for="shippingCountry">Country</label>
            <input type="text" name="shippingCountry" id="shippingCountry" autocomplete="off" required>
            <label for="shippingCity">City</label>
            <input type="text" name="shippingCity" id="shippingCity" autocomplete="off" required>
            <label for="shippingZipcode">Zipcode</label>
            <input type="text" name="shippingZipcode" id="shippingZipcode" autocomplete="off" required>
            <label for="shippingAddress">Address</label>
            <input type="text" name="shippingAddress" id="shippingAddress" autocomplete="off" required>
            <label for="sameAddress">Billing address is same as the shipping address!</label>
            <input type="checkbox" name="sameAddress" id="sameAddress">
        </div>
        <div id="billingData">
            <h3>Billing</h3>
            <label for="billingCountry">Country</label>
            <input type="text" name="billingCountry" id="billingCountry" autocomplete="off">
            <label for="billingCity">City</label>
            <input type="text" name="billingCity" id="billingCity" autocomplete="off">
            <label for="billingCity">Zipcode</label>
            <input type="text" name="billingZipcode" id="billingZipcode" autocomplete="off">
            <label for="billingAddress">Address</label>
            <input type="text" name="billingAddress" id="billingAddress" autocomplete="off">
        </div>
        <button type="submit" id="submitCheckout">Go to Payment</button>
    </form>
</div>
</body>
</html>